global
    log         127.0.0.1 local0 notice
    maxconn     2000
    user        haproxy
    group       haproxy

defaults
    mode        http
    log         global
    option      httplog
    option      dontlognull
    option      redispatch
    retries     3
    timeout connect         10s
    timeout client          30s
    timeout server          30s

listen stats
    bind    {{ lb1 }}:80
    mode    http
    stats   enable
    stats   uri /haproxy?stats
    stats   realm Haproxy\ Private
    stats   auth vagrant:vagrant
    balance roundrobin
    option  httpclose
    option  forwardfor
    server {{ name }}-web1 {{ web1 }}:80
    server {{ name }}-web2 {{ web2 }}:80